<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<title>編集</title>
</head>
<body>
	<div class="col-sm-5">
		<form th:method="put" th:action="@{/update/{id}(id=*{id})}" th:object="${formModel}">
			<table class="table table-borderd">
				<tr>
					<th>投稿内容</th>
					<td>
						<input type="text" name="content" th:value="*{content}" size="20" maxlength="200" />
					</td>
				</tr>
			</table>
			<input type="submit" value="更新" class="btn btn-success mb-4" />
		</form>
		<form action="/">
			<input type="submit" value="戻る" class="btn btn-info"/>
		</form>
	</div>
</body>
</html>