<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"></link>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<title>新規投稿画面</title>
</head>
<body>
	<div class="container pt-5">
		<div class="row justify-content-center">
			<div class="post border border-dark col-lg-6 col-sm-10">
				<table class="table table-borderless">
					<tr>
						<td></td>
						<th>新規投稿</th>
					</tr>
					<form method="post" action="/add" th:object="${formModel}">
						<tr>
							<td></td>
							<td class="form-group" th:classappend="${#fields.hasErrors('content')} ? 'has-error'">
								<input type="text" name="content" th:value="*{content}" size="40" maxlength="200" class="form-control" />
								<p class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
							</td>
						</tr>
						<tr>
							<td></td>
							<td class="d-flex">
							<input type="submit" value="投稿" class="btn btn-sm btn-outline-info mr-2"/>
					</form>
								<form action="/">
									<input type="submit" value="戻る" class="btn btn-sm btn-outline-secondary"/>
								</form>
							</td>
						</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>