<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"></link>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script th:src="@{/main.js}" type="text/javascript"></script>
<title>TOP</title>
</head>
<body>

	<div class="container reports" style="width: 700px;">
		<div class="row justify-content-center">
			<div class="col">
				<!-- 絞り込みフォーム -->
				<div class="search-box my-5 row">
						<form action="./" method="get" class="row form-group">
							<span>日付　</span>
							<input type="date" name="startDate" th:value="${ start }" class="form-control col-sm-3 col-lg-4"><span>　～　</span>
							<input type="date" name="endDate" th:value="${ end }" class="form-control col-sm-3 col-lg-4">
							<input type="submit" value="絞込" class="btn btn-sm btn-outline-secondary ml-2">
						</form>
						<form action="/">
							<input type="submit" value="リセット" class="btn btn-sm btn-outline-secondary"/>
						</form>
				</div>

				<a href="/new"><button type="button" class="btn btn-sm btn-primary mb-3">新規投稿</button></a>

				<div th:each="content : ${contents}">

					<!--  投稿内容ボックス -->
					<div class="report border border-secondary mb-3 py-3 px-3">
						<div class="account d-flex">
							<i class="bi bi-person-circle mr-2" style="font-size: 1.4rem;"></i>
							<p th:text="${content.id}"></p>
						</div>
						<p th:text="${content.content}" class="report-content"></p>
						<p th:text="${#dates.format(content.updatedAt, 'yyyy/MM/dd HH:mm')}" class="text-secondary"></p>
						<!-- 投稿削除・編集ボタン -->
						<div class="d-flex">
							<form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
								<input type="submit" value="削除" class="btn btn-sm btn-danger mr-2" id="delete">
							</form>
							<a th:href="@{/edit/{id}(id=${content.id})}"><button type="button" class="btn btn-success btn-sm">編集</button></a>
						</div>

						<!-- コメント入力ボックス -->
						<form th:action="@{/comment/{id}(id=${content.id})}" th:method="post" th:object="${commentForm}" class="mt-3">
							<textarea rows="5" cols="30" th:field="${commentForm.content}" placeholder="つぶやきに返信しよう" class="form-control mb-2"></textarea>
							<input type="submit" value="送信" class="btn btn-sm btn-primary">
						</form>

						<!-- コメント一覧 -->
						<div th:each="comment : ${comments}">
							<div th:if="${comment.reportId == content.id}" class="border-top border-secondary mt-3 pl-3 pt-2">
								<p th:text="${comment.content}"></p>
								<p th:text="${#dates.format(comment.updatedAt, 'yyyy/MM/dd HH:mm')}" class="text-secondary"></p>
								<!-- コメント削除・編集ボタン -->
								<div class="d-flex">
									<form th:action="@{/comment/delete/{id}(id=${comment.id})}" th:method="delete">
										<input type="submit" value="コメント削除" class="btn btn-sm btn-danger mr-2">
									</form>
									<a th:href="@{/comment/edit/{id}(id=${comment.id})}"><button type="button" class="btn btn-sm btn-success">コメント編集</button></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>